@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para garantir feel nativo */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Remove scroll */
  background-color: #09090b;
  color: #fff;
}

#root {
  height: 100%;
  width: 100%;
}

/* Scrollbar fina e bonita */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}